.huhu {
    background-color: #b70000;
    color: #00a8d780;
}

test {
    

  color: #00a4d2;
  color: #d0bf00;
  color: #ffc132;
  color: #ff8c00;
  color: #b9005d;
  color: #6200be;
  color: #FF4500;
  color: #00b700;
  color: #d8b800;
  color: #00CED1
  
};